@(filialForm:Form[Filial])(estados: List[Estado])
@import helper._
<h2>@Messages("filial.titulo")</h2>
@form(routes.FilialController.cadastrar()){ 
@if(flash.containsKey("erro")) {    
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">
        &times;
    </a>
    <strong>Atenção!</strong> @flash.get("erro")   
</div>
}
@if(flash.containsKey("success")) {
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">
        &times;
    </a>
    <strong>Sucesso!</strong> @flash.get("success") 
</div>
} 
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#principal">@Messages("global.principal")</a></li>
    <li><a data-toggle="tab" href="#endereco">@Messages("endereco.titulo")</a></li>
</ul>
<div class="tab-content">
    <div id="principal" class="tab-pane fade in active">
        <div class="form-group col-lg-6">
            @inputText(filialForm("id"), '_label -> Messages("filial.id"), 'class -> "form-control", 'type -> "number")   
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("razaoSocial"), '_label -> Messages("filial.razaoSocial"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("nomeFantasia"), '_label -> Messages("filial.nomeFantasia"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("cnpj"), '_label -> Messages("filial.cnpj"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("inscEstadual"), '_label -> Messages("filial.inscEstadual"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">
            <label>@Messages("filial.status")</label>
            <select name="status" class="form-control">
                @for(status <- models.enumerations.Status.values) {
                <option value="@status.name">@status.name</option>
                }
            </select>
        </div>
    </div>
    <div id="endereco" class="tab-pane fade">
        <div class="form-group col-lg-6">   
            @inputText(filialForm("endereco.logradouro"), '_label -> Messages("endereco.logradouro"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("endereco.numero"), '_label -> Messages("endereco.numero"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("endereco.bairro"), '_label -> Messages("endereco.bairro"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("endereco.cep"), '_label -> Messages("endereco.cep"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">
            @select(filialForm(Messages("endereco.uf")),
            options(Estado.options), 'id -> "estado", 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">
            <label>@Messages("endereco.uf")</label>
            <select name="estado" id="estado" class="form-control">
                <option value="" disabled selected>Selecione</option>
                @for(estado <- estados) {
                <option value="@estado.id">@estado.nome</option>
                }
            </select>
        </div>
        <div class="form-group col-lg-6">
            <label>@Messages("endereco.municipio")</label>
            <select name="municipio" id="municipio" class="form-control">
                <option value="" disabled selected>Selecione</option>
            </select>
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("endereco.fone1"), '_label -> Messages("endereco.fone1"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("endereco.fone2"), '_label -> Messages("endereco.fone2"), 'class -> "form-control")
        </div>
        <div class="form-group col-lg-6">   
            @inputText(filialForm("endereco.email"), '_label -> Messages("endereco.email"), 'class -> "form-control")
        </div>
    </div>
</div>               
<div class="form-group col-lg-12">
    <button type="submit" class="btn btn-primary" value="Salvar">
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Salvar
    </button>
</div>
<style>
    .loader {
        display: none;
        float: left;
    }
</style>
<img src="@routes.Assets.at("images/loader.gif")" class="loader" alt="loading" />
<script>
    $('#estado').change(function () {
        var dados = $('#estado').val();
        //alert(dados);                 
        $.ajax({
            //url: '@routes.FilialController.municipiosEstadoAjax("25")',
            url: '/municipios_estado' + dados,
            //data:"filial="+dados,
            success: function (data) {
                $('#municipio').html(data);
                //alert(data);              
            },
            beforeSend: function () {
                $('.loader').css({display: "block"});
            },
            complete: function () {
                $('.loader').css({display: "none"});
            }
        });
    });
</script>
}